*,*::after,*::before{
    margin:0px;
    padding:0px;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;/*1 rem == 10px 100%=1px browser font size*/
}

body{
    box-sizing: border-box; 
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color:#777;
    height:100px;
    font-size: 1.6rem;   
}
.body-wrapper{
    position: relative;
}
.body-wrapper:after{
    content: "";
    clear: both;
    display: table;
}
nav{
    background: #262a33;
    min-height: 100vh;
    width: 9rem;
    position: fixed;
    left: 0rem;
}

nav ul li:not(:first-child){
    display: block;
    margin: 3.5rem;
}
nav ul li:first-child{
    margin-left:3.5rem;
    margin-right: 3.5rem;
    list-style: none;
    padding-top:3.5rem;
}
nav ul a{
    text-decoration: none;
    color: #fff;
}
.content__phone{
    margin-left: 9rem;
    padding: 5rem;
    min-height: 100vh;
    background-color: #e5e9ec;
}

.phone__list--table{
    width: 75%;
    margin: 0rem auto;
    padding: 0rem;      
}
.call__history--table{
    width: 100%;
    margin-left: 3.5rem;
}
thead td{
    background: #3db9af;
    height: 3.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    padding-left: .5rem;
    text-align: center;
}
tbody tr td{
    height: 5rem;
    margin-right: .2rem;
    background-color: #fff;
    font-size: 1.4rem;
    padding-left:.5rem;
    text-align: center;
    transition: all .8s;
}


.table__row--clickable:hover td{
    background-color:#b5d1d8;
    cursor: pointer;
    color: red;
}
table caption{
    text-align: left;
    margin-bottom: .5rem;   
    background:#736086;
    height: 10rem;
    padding: 2rem;
    background:#3db9af;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    color: #fff;
}
.content__profile{
    margin-left: 9rem;
    padding:2rem;
    background-color: #e5e9ec;
    min-height: 100vh;
}
.content__profile:after{
    content: "";
    clear: both;
    display: table
}
.user-profile{
    background-color: #fff;
    width: 30rem;
    height: 45rem;
    text-align: center;
    padding: 2rem;
    float: left;
    position: relative;
}
.phone-dialer{
    display: none;
    width: 30rem;
    height: 45rem;
    background: linear-gradient(to bottom, rgb(216, 116, 116), rgb(201, 201, 101));
    position: absolute;
    z-index: 1000;
    color: #fff;
    left: 0rem;
    top:-50rem;
    padding-top:2rem;
    transition: all 1s ease-in-out;
    animation: DailerDrope 1s ease-in-out forwards;
}
@keyframes DailerDrope{
    0%{
        top:-50rem;
    }
    100%{
        top: 0rem;
    }
}
.phone__buttons{
    position: absolute;
    bottom: 5rem;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
   
}
.phone__btn{
    background-color:#3db9af;
    padding: 1rem;
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}
.phone-down .fa-phone{
    color: red;
    transform: rotate(225deg);
}
.phone__btn:hover{
    cursor: pointer;
}

.avatar img{
    height: 15rem;
    width: 15rem;
    margin-bottom: 2rem;
}
.dial{
    height:4rem;
    width: 15rem;
    margin: 1rem 0rem;
    border: none;
    background-color:#60b93d;
    color: #fff;
    font-size: 1.8rem;
}

.profile__info{
    width: 20rem;
    height: auto;
    margin: 0rem auto;
    text-align: center;
}
.profile__info ul li{
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.4rem;
}
.profile__info ul li:first-child{
    font-size: 1.8rem;
    color: #3db9af;
    text-transform: uppercase;
}
.call__history{
    width: 75rem;
    float: left;
    margin-right: 2rem;    
}
.call__history--table{
    width: 100%;
}
.order__history{
   padding-top: 3.5rem;
   clear: both;
}
.paginate{
    text-align: center;
    clear: both;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #fff;
}
.pagination li{
    display: inline-block;
    background: rgb(228, 187, 111);
    height: 3rem;
    width: 3rem;
    text-align: center;
    padding-top: .5rem;
    text-decoration: none;
    list-style: none;
    margin: 0px;
}
.pagination li:first-child, .pagination li:last-child{
    background: #3db9af;
    
}
.table__row--clickable td a{
    text-decoration: none;
    width: 100%;
    color: #9699a1;
    display: block;
    height: 100%;
    
}

.sold{
    border: none;
    background:#60b93d;
    height:2rem;
    min-width: 6rem;
    color: #fff;
    border-radius: .2rem;
    padding: .1rem;
}
.not--interested{
    border: none;
    background: red;
    height:3rem;
    min-width: 10rem;
    color: #fff;
    border-radius: .2rem;
    padding: .5rem;
}
.no--answer{
    border: none;
    background: rgb(240, 183, 29);
    height:3rem;
    min-width: 10rem;
    color: #fff;
    border-radius: .2rem;
    padding: .5rem;
}
.order-form{
    background:#fff;
    width: 30rem;
    height: 45rem;
    padding: 2rem;
    float: left;
    color: rgb(122, 116, 116);
    border-left:.3rem solid #3db9af;
    position: absolute;
    top: 0rem;
    right:0rem;
    text-align: left;
    z-index: 100;
    display: none;
    animation:FormSlider .4s ease-in-out forwards;
}

.order-form h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

@keyframes FormSlider{
    0%{
        right:0rem;  
    }
    100%{
        right:-30rem;
    }
}


.input{
    height: 3rem;
    width: 100%;
}
.level{
    margin: 1rem 0rem;
}
.confirm-btn{
    margin-top: 1rem;
}
.confirm-btn button{
    width: 10rem;
    height:3rem;
    border: none;
    background: #60b93d;
    margin-right: 1rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}