*,*::after,*::before{
    margin:0px;
    padding:0px;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;/*1 rem == 10px 100%=1px browser font size*/
}

body{
    box-sizing: border-box; 
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7rem;
    color:#777;
    height:100px;
    font-size: 1.6rem;    

}
.header{
    height: 100vh;
    background-image:url("../img/bg.png");
    background-position: top;
    position: relative;   
    background-repeat: no-repeat;
    background-size: cover;
       
}
.nav{
    background-color: rgb(0, 0, 0);
    height: 6rem;
    opacity: .6;
}
.nav::after{
    content: "";
    clear: both;
    display: table;
}
.nav__logo{
    float: left;
}
.nav__logo--img{
    height:4rem;
    width: 10rem;
    margin-left: 10rem;
    margin-top: 1rem;
}
.nav__login{
    float: right;

}
.nav__login--btn{
    margin-right: 10rem;
    margin-top: 1rem;
    background:rgb(37, 15, 228);
}
.nav__login--btn{
    height: 4rem;
    width: 10rem;
    background: none;
    text-transform: uppercase;
    border: none;   
    color:rgb(255, 255, 255);
    font-weight: 600;
    transition: all .2s;
   border: .1em solid #777;
    
}
.nav__login--btn:hover{
    cursor: pointer;
    color:rgb(248, 17, 17);
    border-radius: 1rem;    
    transform: scale(1.04);
}
.header__text-box{
    position: relative;
}
.header__primary{
    position: absolute;
    top: 20vh;
    left:5vw;
}
.header__primary--title{
    display: block;
    font-size: 4.5rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    margin: 2rem 0rem;
    font-weight: 800;
    color: #ffffff;
}
.header__primary--subtitle{
    display: block;
    font-size: 1.8rem;
    margin: 2rem 0rem;
    font-weight: 400;
    color: rgb(73, 72, 72);
    line-height: 2.5rem;
    max-width: 75rem;
    text-align: justify;
}
.header__primary--statistic{
    margin-top: 5rem;
}

.header__statistic--happy,.header__statistic--handshake,.header__statistic--callpeople{
    float: left;
    width: 25rem;
    text-align: center;

}
.statistic-figure{
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 600;
    color: rgb(50, 146, 235);
    line-height: 5rem;
}
.header__bottom{
    position: relative;
    display: block;
}
.header__bottom-text{
    position: absolute;
    bottom: 0rem;
    height: 5rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: block;
    width: 100vw;
    opacity: .6;
    padding-top: 1.5rem;
}
.login{
    position: absolute;
    height: 32rem;
    width: 40rem;
    background-color:rgb(62,62,62);
    z-index: 1000;
    left:50%;
    /*top:30%;*/
    top:-100%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    border-radius: 1rem;
    animation: moveInDown .45s ease-in-out forwards;
    display: none;
}
@keyframes moveInDown{
    0%{
        top:-100%;
    }100%{
        top:30%;
    }
}


.login__header{
    font-weight: 300 !important;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    text-align: center;
    height: 5rem;
    background-color:rgb(17,187,238);
    padding-top: 1.5rem;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    
}
.close{
    position: absolute;
    top:-.3rem;
    right:-1rem;
}

.login__content{
    margin-top: 1rem;
    text-align: center;
}

.login__form--email{
    margin-top: 3rem;
    position: relative
}

.login__form--password{
    margin-top: 3rem;
}
input[type="email"],input[type="password"]{
    height: 4rem;
    width: 60%;
    border-radius: .4rem;
}
.login__form--submit{   
    margin:2rem auto;
}
input[type="submit"]{
    height:3rem;   
    text-align: center;
    width: 30%;
    background-color: rgb(17,187,238);
    border:none;
    color: #fff;
    font-size: 1.8rem;
}
